<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:form="http://www.w3.org/1999/html">
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Create</title>
</head>
<body>
<br>
<br>
<table style="margin:0 auto 0 auto">
<form th:method="post" th:action="@{/admin}" th:object="${user}">
    <tr>
        <td><label for="name">Name</label></td>
        <td><input type="text" th:field="*{name}" id="name"></td>
    </tr>
    <tr>
        <td><label for="surname">Surname</label></td>
        <td><input type="text" th:field="*{lastName}" id="surname"></td>
    </tr>
    <tr>
        <td><label for="age">Age</label></td>
        <td><input type="text" th:field="*{age}" id="age"></td>
    </tr>
    <tr>
        <td><label for="email">E-mail</label></td>
        <td><input type="text" th:field="*{email}" id="email"></td>
    </tr>
    <tr>
        <td><label for="email">Username</label></td>
        <td><input type="text" th:field="*{userName}" id="username"></td>
    </tr>
    <tr>
        <td><label for="email">Password</label></td>
        <td><input type="text" th:field="*{password}" id="password"></td>
    </tr>
    <tr>
        <td> </td>
        <td><input type="submit" value="Add"></td>

    </tr>

</table>
</form>
</body>
</html>